.table {
  margin-top: 10px;

  .title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .td {
    padding: 10px;

    .text {
      display: flex;
      justify-content: center;
    }
  }

  .saveButton {
    margin: 10px;
    float: right;
  }
}


